<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="pagEstaticas/head :: headFragment (titulo='Reservar')">
</head>
<body>

	<nav th:replace="admin/navAdmin :: navAdmin"></nav>
	<aside class="float-left col-lg-2 p-0 subNav">
		<div class="container-fluid col-lg-12 h-100 col-12 p-0 float-left">
			<nav class="nav nav-stacked text-center subNav">
				<a class="nav-link col-lg-12 col-md-4 col-4 p-4 rounded-0" href="#"
					th:href="@{/admin/espacios}"><span th:text="#{espacios}">Espacios</span></a> <a
					class="nav-link col-lg-12 col-md-4 col-4 boton p-4 rounded-0"
					href="#" th:href="@{/admin/festivos}"><span th:text="#{festivos}">Festivos</span></a> <a
					class="nav-link col-lg-12 col-md-4 col-4 p-4 rounded-0" href="#"
					th:href="@{/admin/reservas}"><span th:text="#{reservas}">Reservas</span></a> <a
					class="nav-link col-lg-12 col-md-4 col-4 p-4 rounded-0" href="#"
					th:href="@{/admin/solicitudes}"><span th:text="#{solicitudes}">Solicitudes</span></a> <a
					class="nav-link col-lg-12 col-md-4 col-4 p-4 rounded-0" href="#"
					th:href="@{/admin/usuarios}"><span th:text="#{usuarios}">Usuarios</span></a>

			</nav>
		</div>
	</aside>
	<section class="float-left col-lg-8 p-0 mt-3 ml-3">
		<div th:if="${!espacios.isEmpty()}">
			<table class="table mx-auto">
				<thead class="thead-dark">
					<tr>
						<th scope="col"><span th:text="#{nombre}">Nombre</span></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="espacio : ${espacios}">
						<td th:text="${espacio.nombre}">NOMBRE</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div th:if="${espacios.isEmpty()}">
			<p><span th:text="#{noExistenA}">No existen aulas registradas</span></p>
		</div>
	</section>

</body>
</html>