<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="pagEstaticas/head :: headFragment (titulo='Reservar')">
</head>
<body>

	<nav th:replace="admin/navAdmin :: navAdmin"></nav>
	<aside class="float-left col-lg-2 p-0 subNav bg-danger">
		<div class="container-fluid col-lg-12 h-100 col-12 p-0 float-left">
			<nav class="nav nav-stacked text-center subNav">
				<a
					class="nav-link col-lg-12 col-md-4 col-4 p-4 rounded-0 bg-secondary"
					href="#" th:href="@{/admin/espacios}"><span class="text-white"
					th:text="#{espacios}">Espacios</span></a> <a
					class="nav-link col-lg-12 col-md-4 col-4 boton p-4 rounded-0"
					href="#" th:href="@{/admin/festivos}"><span class="text-white"
					th:text="#{festivos}">Festivos</span></a> <a
					class="nav-link col-lg-12 col-md-4 col-4 p-4 rounded-0" href="#"
					th:href="@{/admin/reservas}"><span class="text-white"
					th:text="#{reservas}">Reservas</span></a> <a
					class="nav-link col-lg-12 col-md-4 col-4 p-4 rounded-0" href="#"
					th:href="@{/admin/solicitudes}"><span class="text-white"
					th:text="#{solicitudes}">Solicitudes</span></a> <a
					class="nav-link col-lg-12 col-md-4 col-4 p-4 rounded-0" href="#"
					th:href="@{/admin/usuarios}"><span class="text-white"
					th:text="#{usuarios}">Usuarios</span></a>

			</nav>
		</div>
	</aside>
	<section class="float-left col-md-10 col-12 mt-3 p-4">
		<div th:if="${!espacios.isEmpty()}">
			<table class="table mx-auto">
				<thead class="thead-dark">
					<tr class="text-center">
						<th><span th:text="#{nombre}">Nombre</span></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="espacio : ${espacios}">
						<td th:text="${espacio.nombre}" class="text-center">NOMBRE</td>
						<td><a
							th:href="@{/admin/espacios/eliminar/{id} (id=${espacio.id})}"
							class="btn bg-danger text-white"><i class="fa fa-trash"
								aria-hidden="true"></i></a></td>
					</tr>
				</tbody>
			</table>
			<div class="row">
				<div th:if="${espacios.totalPages != 1}"
					class="form-group col-md-11 pagination-centered">
					<ul class="pagination">
						<li th:if="${espacios.number != 0}"><a
							class="pageLink"
							th:href="@{/admin/espacios/(pageSize=${selectedPageSize}, page=1, nombre=${param.nombre})}">&laquo;</a>
						</li>

						<li th:if="${espacios.number != 0}"><a
							class="pageLink"
							th:href="@{/admin/espacios/(pageSize=${selectedPageSize}, page=${espacios.number}, nombre=${param.nombre})}">&larr;</a>
						</li>

						<li
							th:class="${espacios.number == (page - 1)} ? 'active pointer-disabled'"
							th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
							<a class="pageLink"
							th:href="@{/admin/espacios/(pageSize=${selectedPageSize}, page=${page}, nombre=${param.nombre})}"
							th:text="${page}"></a>
						</li>

						<li th:if="${espacios.number + 1 != espacios.totalPages}"><a
							class="pageLink"
							th:href="@{/admin/espacios/(pageSize=${selectedPageSize}, page=${espacios.number + 2}, nombre=${param.nombre})}">&rarr;</a>
						</li>

						<li th:if="${espacios.number + 1 != espacios.totalPages}"><a
							class="pageLink"
							th:href="@{/admin/espacios/(pageSize=${selectedPageSize}, page=${espacios.totalPages}, nombre=${param.nombre})}">&raquo;</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div th:if="${espacios.isEmpty()}">
			<p>
				<span th:text="#{noExistenA}">No existen aulas registradas</span>
			</p>
		</div>

		<a class="ole" href=# th:href="@{/admin/newAula}">
			<button type="button" class="btn btn-dark">
				<span th:text="#{addA}">Añadir Aula</span>
			</button>
		</a>
		</button>
	</section>




</body>
</html>