<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="pagEstaticas/head :: headFragment (titulo='Reservar')">
</head>
<body>
	<nav th:replace="admin/navAdmin :: navAdmin"></nav>
	<aside class="float-left col-lg-2 p-0 subNav">
		<div class="container-fluid col-lg-12 h-100 col-12 p-0 float-left">
			<nav class="nav nav-stacked text-center subNav">
				<a class="nav-link col-lg-12 col-md-4 col-4 p-4 rounded-0" href="#"
					th:href="@{/admin/espacios}">Espacios</a> <a
					class="nav-link col-lg-12 col-md-4 col-4 boton p-4 rounded-0"
					href="#" th:href="@{/admin/festivos}">Festivos</a> <a
					class="nav-link col-lg-12 col-md-4 col-4 p-4 rounded-0" href="#"
					th:href="@{/admin/reservas}">Reservas</a> <a
					class="nav-link col-lg-12 col-md-4 col-4 p-4 rounded-0" href="#"
					th:href="@{/admin/solicitudes}">Solicitudes</a> <a
					class="nav-link col-lg-12 col-md-4 col-4 p-4 rounded-0" href="#"
					th:href="@{/admin/usuarios}">Usuarios</a>

			</nav>
		</div>
	</aside>
	<section class="float-left col-lg-8 p-0 mt-3 ml-3">
		<div class="containter-fluid">
			<div class="row">
				<div class="col-12 ">
					<h4>Escoja una fecha del calendario</h4>
					<form class="border border-0 "
						th:action="@{/admin/festivos/submit}" th:object="${formbeanFecha}"
						method="post" id="buscarFecha">
						<div class="col-12 form-group float-left p-0 m-0">
							<input type='text' placeholder="Selecciona una fecha" required
								class="col-8 datepicker float-left mr-2" id="cal"
								th:field="*{fecha}" data-date-format="dd/mm/yyyy"
								onchange="enviar('buscarFecha')" />

						</div>
					</form>
				</div>
			</div>

			<div class="custom-control custom-switch">
				<input type="checkbox" class="custom-control-input"
					id="customSwitches"> <label class="custom-control-label"
					for="customSwitches">Incluir sábados como días festivos</label>
			</div>
			
			
			<div class="custom-control custom-switch">
				<input type="checkbox" class="custom-control-input"
					id="customSwitches"> <label class="custom-control-label"
					for="customSwitches">Incluir domingos como días festivos</label>
			</div>
		</div>
	</section>

</body>
<script th:inline="javascript" th:if="${errorFestivo==true}">
	avisarFestivo();
</script>
</html>