<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="pagEstaticas/head :: headFragment (titulo='SignUpAula')">
<style>
.ole {
color: white;
}

</style>
</head>
<body class="pepe">

	<a href="../pagEstaticas/Login2.html" th:href="@{/}"><img
		src="/img/Logo-horizontal-segundo-nivel.png"
		class="img-fluid imagen ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}"
		alt="Logo Salesianos Triana" style="border-style: none"> </a>
	<div class="form-group pais">
		<label for=""></label> <select class="form-control col-sm-12"
			name="lenguaje" onchange="location = this.value;" id="leng">
			<option value=""><span th:text="#{seleccionaI}">Selecciona
					el idioma</span></option>
			<option value="?lang=es"><span th:text="#{spain}">Español</span></option>
			<option value="?lang=eng"><span th:text="#{english}">English</option>
		</select>
	</div>

	<form class="form-horizontal formularioD col-md-5" name="form1"
		method="POST"
		action="#" th:action="@{/admin/newAula/submit}" th:object="${aula}"
		role="form">
		<fieldset>

			<!-- Form Name -->
			<legend class="grande">
				<h3 th:text="#{registroA}">Registro Aula</h3>
			</legend>

			<!-- Text input-->
			<div class="form-group">
				<label class="col-md-8 control-label" for="textinput"
					th:text="#{nombre}">Nombre</label>
				<div class="col-md-10">
					<input id="textinput" name="textinput" type="text"
						th:field="*{nombre}" th:placeholder="#{nombre}"
						class="form-control input-md" required>
				</div>
			</div>
			
			<!-- Button -->
			<div class="form-group final">

				<div class="col-md-4">
					<button id="singlebutton" name="singlebutton" type="submit"
						value="submit" class="btn btn-dark">
						<span th:text="#{confirmar}">Confirmar</span>
					</button>
				</div>
			</div>

		</fieldset>
	</form>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>


</body>
</html>