<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="pagEstaticas/head :: headFragment (titulo='EditForm')">
</head>
<body class="pepe">
	<nav th:replace="user/navegadorUsuario :: navegadorUsuario"></nav>

	<div class="form-group pais">
		<label for=""></label> <select class="form-control col-sm-12"
			name="lenguaje" onchange="location = this.value;" id="leng">
			<option value=""><span th:text="#{seleccionaI}">Selecciona
					el idioma</span></option>
			<option value="?lang=es"><span th:text="#{spain}">Español</span></option>
			<option value="?lang=eng"><span th:text="#{english}">English</option>
		</select>
	</div>

	<form class="form-horizontal formularioD col-md-5 bg-light" name="form1"
		method="POST" onsubmit="return comprobarPassword() && valida()"
		action="#" th:action="@{/user/perfil/editPerfil/submit}"
		th:object="${usuario}" role="form">
		<fieldset>

			<input id="reCorreo" name="prependedtext" class="form-control"
				type="hidden" th:field="*{email}"> <input id="id"
				name="prependedtext" class="form-control" type="hidden"
				th:field="*{id}">

			<!-- Form Name -->
			<legend class="grande">
				<h3 th:text="#{edicion}">Formulario de edición</h3>
			</legend>

			<!-- Text input-->
			<div class="form-group">
				<label class="col-md-8 control-label" for="textinput"
					th:text="#{nombre}">Nombre</label>
				<div class="col-md-10">
					<input id="textinput" name="textinput" type="text"
						th:field="*{nombre}" placeholder="Antonio"
						class="form-control input-md" required>
				</div>
			</div>

			<!-- Text input-->
			<div class="form-group">
				<label class="col-md-5 control-label" for="textinput"
					th:text="#{apellidos}">Apellidos</label>
				<div class="col-md-10">
					<input id="textinput" name="textinput" type="text"
						th:field="*{apellidos}" placeholder="Cotán García"
						class="form-control input-md" required>
				</div>
			</div>

			<div class="form-group">
				<label class="col-md-8 control-label" for="selectbasic"
					th:text="#{centro}">Centro</label>
				<div class="col-md-10">
					<select id="selectbasic" name="selectbasic" class="form-control">
						<option value="1">Salesianos Triana</option>
					</select>
				</div>
			</div>

			<!-- Password input-->
			<div class="form-group">
				<label class="col-md-8 control-label" for="passwordinput"
					th:text="#{contrasenya}">Contraseña</label>
				<div class="col-md-10">
					<input id="passwordInput" name="passwordInput" type="password"
						th:field="*{password}" placeholder="..."
						class="form-control input-md" required> <span
						class="help-block" th:text="#{ochoCaract}">Mínimo 8
						caracteres</span>
				</div>
			</div>


			<!-- Password input-->
			<div class="form-group">
				<label class="col-md-8 control-label" for="passwordinput"
					th:text="#{rePassword}">Repetir Contraseña</label>
				<div class="col-md-10">
					<input id="rePasswordInput" name="passwordinput" type="password"
						placeholder="..." class="form-control input-md" required>
					<span class="help-block" th:text="#{validoRePassword}">Las
						contraseñas deben de coincidir</span>
				</div>
			</div>

			<!-- Multiple Checkboxes (inline) -->
			<div class="form-group acepto">
				<div class="">
					<label class="checkbox-inline" for="checkboxes-0"> <h7
							class="acepto" th:text="#{terminos}">Acepto los términos de
						esta página</h7> <input class="check" type="checkbox" name="checkboxes"
						id="checkboxes-0" value="1" required>
					</label>
				</div>
			</div>


			<!-- Button -->
			<div class="form-group final">

				<div class="col-md-4">
					<button id="singlebutton" name="singlebutton" type="submit"
						value="submit" class="btn btn-dark">
						<span th:text="#{confirmar}">Confirmar</span>
					</button>
				</div>
			</div>


			</div>



		</fieldset>
	</form>

	<script>
		function comprobarPassword() {
			var password1 = document.getElementById("passwordInput").value;
			var password2 = document.getElementById("rePasswordInput").value;

			if (password1.length == 0 || password2.length == 0) {
				alert("Los campos Contraseña y Repetir Contraseña no pueden quedar vacíos");
				return false;
			}

			if (password1 != password2) {
				alert("Las contraseñas no coinciden");
				return false;
			} else {
				return true;
			}
		}

		function valida() {
			var password1 = document.getElementById("passwordInput").value;

			if (password1.length < 8) {
				alert("La contraseña debe ser de 8 o más caracteres");
				return false;
			} else {
				return true;
			}
		}
	</script>

	<script th:inline="javascript" th:if="${errorEmail==true}">
		avisarEmail();
	</script>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>


</body>
</html>