<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="pagEstaticas/head :: headFragment (titulo='Perfil')">
<body>
	<nav th:replace="user/navegadorUsuario :: navegadorUsuario"></nav>

	<div class="container mt-4">
		<h1 class="text-center display-5">Datos Personales</h1>
		<div class="container">
			<div class="row">
				<div class="col-sm font-weight-bold">Nombre</div>
				<div class="col-sm font-weight-bold">Apellidos</div>
				<div class="col-sm font-weight-bold">Email</div>
			</div>
			<div class="row">
				<div class="col-sm" th:text="${usuario.nombre}">Luismi</div>
				<div class="col-sm" th:text="${usuario.apellidos}">Lopez</div>
				<div class="col-sm" th:text="${usuario.email}">luismi.lopez@salesianos.edu</div>
			</div>
		</div>
		<!-- Button -->
		<div class="form-group ml-5">
			<label class=" control-label" for="edit"></label>
			<div class="text-center mt-5">
				<a th:href="@{/user/perfil/editPerfil}"><button id="edit" name="edit"
						class="w-50 btn btn-primary">Editar usuario</button></a>
				<button id="editPass" name="editPass"
					class="mt-2 w-50 btn btn-primary">Editar contraseña</button>
			</div>
		</div>


		<h1 class="text-center display-5 mt-5">Historial de Reservas</h1>

		<div class="card" style="width: 18rem;">
			<div class="card-body">
				<h5 class="card-title">Reserva</h5>
				<ul th:each="reserva : ${listReservas}">
					<li>
						<p class="card-text">
							<span class="font-weight-bold">Aula:</span> <span
								th:text="${reserva.aula.nombre}">1º DAM</span>
						</p>
					</li>
					<li>
						<p class="card-text">
							<span class="font-weight-bold">Fecha:</span> <span
								th:text="${reserva.fecha}">fecha</span>
						</p>
					</li>
					<li>
						<p class="card-text">
							<span class="font-weight-bold">Horas:</span> <span
								th:text="${reserva.hora}">hora</span>
						</p>
					</li>
					<a th:href="@{/user/borrar/{id}(id=${reserva.id})}"><button
							type="button" class="btn btn-outline-danger mt-3"
							id="borrarReserva" name="borrarReserva">Borrar Reserva</button></a>
				</ul>

			</div>
		</div>
	</div>

</body>

</html>