<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="pagEstaticas/head :: headFragment (titulo='Reservar')"></head>
<style>
   td, th {
        height: 49.6px;
    }
</style>
<body>
        <nav th:replace="user/navegadorUsuario :: navegadorUsuario"></nav>
        <div class="container-fluid mt-4">
            <div class="col-12 m-5">
                <h1 class="display-3 text-center mb-3" th:text="${aula.nombre}"></h1>

            </div>
            <aside class="col-md-6 col-12 col-lg-4 float-left">
                
                <div class="col-12 ">
                    <h4 th:text="#{escoja}">Escoja una fecha del calendario</h4>
                    <form class="border border-0 " th:action="@{/user/reservar/{id}/submit (id=${aula.id})}" th:object="${formbeanFecha}" method="post">
                        <div class="col-12 form-group float-left p-0 m-0">
                            <input type='text' placeholder="Selecciona una fecha" class="col-8 datepicker float-left mr-2" id="cal" th:field="*{fecha}" data-date-format="dd/mm/yyyy"/>
                        
                            <input type="submit" value="Buscar" class="btn btn-danger col-2 float left">
                        </div>
                    </form>
                </div>
                
            </aside>
            <section class="col-md-6 col-12 col-lg-8 float-left">
                <div th:if="${semana!= null}" class="col-12 p-0 b-0" style="overflow-x:auto;">
                        <form th:action="@{/user/reservar/{id}/nueva-reserva/submit (id=${aula.id})}" method="POST"
                        th:object="${nuevaReserva}" action="#" id="crearReserva"></form>
                    <table class="table table-inverse table-responsive">
                        <tbody>
                            <tr>
                                <td scope="row" class="p-0">
                                    <table class="table table-bordered m-0">
                                        <thead>
                                            <tr class="bg-dark text-white">
                                                <th></th>
                                            <tr>
                                        </thead>
                                        <tbody>
                                                <th class="bg-warning" th:text="#{Hora}">HORAS</th>
                                            </tr>
                                            <tr th:each="h : ${horas}">
                                                <td th:text="${h.descripcion}" class="bg-dark text-white"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td scope="row" class="p-0">
                                    <table class="table table-bordered m-0">
                                        <thead>
                                            <tr class="bg-dark text-white">
                                                <th th:text="#{lunes}">LUNES</th>
                                                <th th:text="#{martes}">MARTES</th>
                                                <th th:text="#{miercoles}">MIÉRCOLES</th>
                                                <th th:text="#{jueves}">JUEVES</th>
                                                <th th:text="#{viernes}">VIERNES</th>
                                                <th th:text="#{sabado}">SÁBADO</th>
                                                <th th:text="#{domingo}">DOMINGO</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th:block th:each="f : ${semana}">
                                                <th th:text="${#temporals.format(f, 'dd/MM/yyyy')}">xx/xx/xxxx</th>
                                                </th:block>
                                            </tr>
                                            <tbody>
                                                <tr>
                                                    
                                                        <th:block th:each="r : ${reserva1}">
                                                               
                                                            <tr th:if="${r.vacio}" class="btn btn-light">
                                                                
                                                                    <span th:text="#{reservar}">Reservar</span>
                                                                    
                                                                        <input th:field="*{hora}" th:value="${horas[0]}" type="hidden" form="crearReserva" >
                                                                        <input th:field="*{fecha}" th:value="${r.fecha}" type="hidden" form="crearReserva">
                                                                    </form>
                                                              
                                                                
                                                            </tr>
                                                            
                                                                <td th:if="${!r.vacio&&r.usuario.email==usuario.email}"class=" bg-primary">hola</td>
                                                                <td th:if="${!r.vacio&&r.usuario.email!=''&&r.usuario.email!=usuario.email}"class=" bg-danger">hola</td>
                                                            
                                                        </th:block>
                                                 
                                                </tr>
                                                <tr>
                                                    <th:block th:each="r : ${reserva2}">
                                                            <td th:if="${r.usuario==null}" class="btn btn-light">
                                                                    <a name="" id="" class="btn btn-primary" href="#" role="button" 
                                                                    onclick="document.getElementById('crearReserva').submit();">
                                                                    
                                                                        <form th:action="@{/user/reservar/{id}/nueva-reserva/submit (id=${aula.id})}" method="POST"
                                                                        th:object="${nuevaReserva}" action="#" id="crearReserva">
                                                                            <input th:field="*{hora}" th:value="${horas[1]}" type="hidden" >
                                                                            <input th:field="*{fecha}" th:value="${r.fecha}" type="hidden" >
                                                                        </form>
                                                                    </a>
                                                                    
                                                                </td>
                                                                <td th:if="${r.usuario.email==usuario.email}"class=" bg-primary">hola</td>
                                                                <td th:if="${r.usuario.email!=usuario.email}"class=" bg-danger">hola</td>
                                                    </th:block>
                                                </tr>
                                                <tr>
                                                    <th:block th:each="r : ${reserva3}">
                                                            <td th:if="${r.usuario==null}" class="btn btn-light">
                                                                    <a name="" id="" class="btn btn-primary" href="#" role="button" 
                                                                    onclick="document.getElementById('crearReserva').submit();">
                                                                    
                                                                        <form th:action="@{/user/reservar/{id}/nueva-reserva/submit (id=${aula.id})}" method="POST"
                                                                        th:object="${nuevaReserva}" action="#" id="crearReserva">
                                                                            <input th:field="*{hora}" th:value="${horas[2]}" type="hidden" >
                                                                            <input th:field="*{fecha}" th:value="${r.fecha}" type="hidden" >
                                                                        </form>
                                                                    </a>
                                                                    
                                                                </td>
                                                                <td th:if="${r.usuario.email==usuario.email}"class=" bg-primary">hola</td>
                                                                <td th:if="${r.usuario.email!=usuario.email}"class=" bg-danger">hola</td>
                                                    </th:block>
                                                </tr>
                                                <tr>
                                                    <th:block th:each="r : ${reserva4}">
                                                            <td th:if="${r.usuario==null}" class="btn btn-light">
                                                                    <a name="" id="" class="btn btn-primary" href="#" role="button" 
                                                                    onclick="document.getElementById('crearReserva').submit();">
                                                                    
                                                                        <form th:action="@{/user/reservar/{id}/nueva-reserva/submit (id=${aula.id})}" method="POST"
                                                                        th:object="${nuevaReserva}" action="#" id="crearReserva">
                                                                            <input th:field="*{hora}" th:value="${horas[3]}" type="hidden" >
                                                                            <input th:field="*{fecha}" th:value="${r.fecha}" type="hidden" >
                                                                        </form>
                                                                    </a>
                                                                    
                                                                </td>
                                                                <td th:if="${r.usuario.email==usuario.email}"class=" bg-primary">hola</td>
                                                                <td th:if="${r.usuario.email!=usuario.email}"class=" bg-danger">hola</td>
                                                    </th:block>
                                                </tr>
                                                <tr>
                                                    <th:block th:each="r : ${reserva5}">
                                                            <td th:if="${r.usuario==null}" class="btn btn-light">
                                                                    <a name="" id="" class="btn btn-primary" href="#" role="button" 
                                                                    onclick="document.getElementById('crearReserva').submit();">
                                                                    
                                                                        <form th:action="@{/user/reservar/{id}/nueva-reserva/submit (id=${aula.id})}" method="POST"
                                                                        th:object="${nuevaReserva}" action="#" id="crearReserva">
                                                                            <input th:field="*{hora}" th:value="${horas[4]}" type="hidden" >
                                                                            <input th:field="*{fecha}" th:value="${r.fecha}" type="hidden" >
                                                                        </form>
                                                                    </a>
                                                                    
                                                                </td>
                                                                <td th:if="${r.usuario.email==usuario.email}"class=" bg-primary">hola</td>
                                                                <td th:if="${r.usuario.email!=usuario.email}"class=" bg-danger">hola</td>
                                                    </th:block>
                                                </tr>
                                                <tr>
                                                    <th:block th:each="r : ${reserva6}">
                                                            <td th:if="${r.usuario==null}" class="btn btn-light">
                                                                    <a name="" id="" class="btn btn-primary" href="#" role="button" 
                                                                    onclick="document.getElementById('crearReserva').submit();">
                                                                    
                                                                        <form th:action="@{/user/reservar/{id}/nueva-reserva/submit (id=${aula.id})}" method="POST"
                                                                        th:object="${nuevaReserva}" action="#" id="crearReserva">
                                                                            <input th:field="*{hora}" th:value="${horas[5]}" type="hidden" >
                                                                            <input th:field="*{fecha}" th:value="${r.fecha}" type="hidden" >
                                                                        </form>
                                                                    </a>
                                                                    
                                                                </td>
                                                                <td th:if="${r.usuario.email==usuario.email}"class=" bg-primary">hola</td>
                                                                <td th:if="${r.usuario.email!=usuario.email}"class=" bg-danger">hola</td>
                                                    </th:block>
                                                </tr>
                                                <tr>
                                                    <th:block th:each="r : ${reserva7}">
                                                            <td th:if="${r.usuario==null}" class="btn btn-light">
                                                                    <a name="" id="" class="btn btn-primary" href="#" role="button" 
                                                                    onclick="document.getElementById('crearReserva').submit();">
                                                                    
                                                                        <form th:action="@{/user/reservar/{id}/nueva-reserva/submit (id=${aula.id})}" method="POST"
                                                                        th:object="${nuevaReserva}" action="#" id="crearReserva">
                                                                            <input th:field="*{hora}" th:value="${horas[6]}" type="hidden" >
                                                                            <input th:field="*{fecha}" th:value="${r.fecha}" type="hidden" >
                                                                        </form>
                                                                    </a>
                                                                    
                                                                </td>
                                                                <td th:if="${r.usuario.email==usuario.email}"class=" bg-primary">hola</td>
                                                                <td th:if="${r.usuario.email!=usuario.email}"class=" bg-danger">hola</td>
                                                    </th:block>
                                                </tr>
                
                                            </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    
                    

                        
            </div>
        </section>
    </div>

</body>
</html>