<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="pagEstaticas/head :: headFragment (titulo='LogIn')">
</head>
  <body class="pepe">

        
        <div class="form-group pais">
          <label for=""></label>
          <select class="form-control col-sm-12" name="lenguaje" onchange="location = this.value;" id="leng">
            <option value=""><span th:text="#{seleccionaI}">Selecciona el idioma</span></option>
            <option value="?lang=es"><span th:text="#{spain}">Español</span></option>
            <option value="?lang=eng"><span th:text="#{english}">English</option>
          </select>
        </div>
        <div class="site-wrapper">
                <div class="container">
                    <div class="d-flex justify-content-center h-100">
                        <div class="card col-md-5 login">
                            <div class="card-header titulo">
                                <h3 th:text="#{login}">Iniciar sesión</h3>
                            </div>
                            <div class="card-body">
                                <form method="POST" action="#" th:action="@{/}">
                                    <div class="input-group form-group login">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-user-circle"></i></span>
                                        </div>
                                        <input type="text" name="username" id="username2" class="form-control" th:placeholder="#{usuario}">
        
                                    </div>
                                    <div class="input-group form-group login">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-lock" aria-hidden="true"></i></span>
                                        </div>
                                        <input type="password" name="password" id="password2" class="form-control"
                                            th:placeholder="#{contrasenya}">
                                    </div>
                                    <div class="ordenar row align-items-center remember" >
                                        <input type="checkbox" th:text="#{recuerdame}">
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="Login"
                                            class="btn float-right login_btn">
                                    </div>
                                </form>
                            </div>
                            <div class="card-footer">
                                <div class="d-flex justify-content-center links">
                                    ¿No tienes una cuenta? <a href="#" th:href="@{/signup}">¡Regístrate!</a>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <a href="#">¿Olvidaste tu contraseña?</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
     
      

  </body>
</html>