/**
* CSS PARA LOG IN Y SIGN UP REALIZADO POR ALEJANDRO DÃ�AZ
*/
.pepe {
	background-color: #dc001b;
}

.ole {
	color: white;
}

.bosco {
	background-image: url("../img/san-juan-bosco.jpg");
	background-size: cover;
}

.pais {
	width: 13%;
	display: -webkit-inline-box;
	float: right;
}

.noDec {
	text-decoration: none;
}

.ordenar {
	padding-left: 20px;
}

select, option {
	background-color: transparent;
}

.titulo {
	text-align: center;
}

.form-group {
	margin-left: 5%;
}

.login {
	margin-top: 10%;
}

legend {
	text-align: center;
}

.imagen {
	background-color: white;
	width: 20%;
	border-style: outset;
}

.pais {
	display: -webkit-inline-box;
	float: right;
	width: 13%;
}

.pepe {
	background-color: #dc001b;
}

.final {
	float: right;
}

.grande {
	margin: 0 auto;
}

.arroba {
	background-color: rgb(240, 234, 234);
}

.hhh {
	margin-left: 4%;
}

.acepto {
	font-size: 80%;
}

.check {
	margin-left: 10px;
}


.formularioD {
	background-color: #bb9d9d71;
	border-radius: 20px;
	margin: 0 auto;
	border-style: solid;
	border-color: #f8f9fa36;
	color: black;
	margin-top: 5%;
}
/**
* CSS PARA INICIO Y PERFIL REALIZADO POR JOSE MANUEL TERRERO
*/
.listaAulas {
	list-style: none;
}

a:visited, a:active, a:link, a:hover {
	text-decoration: none;
}

.lista {
	margin: 0 auto;
}

@media screen and (min-width: 992px) {
	aside {
		min-height: 100vh;
	}
}


