/**
* CSS PARA LOG IN Y SIGN UP REALIZADO POR ALEJANDRO DÃ�AZ
*/
.pepe {
 background-color: #dc001b
 ;
}
.img-fluid {}
.pais {
 width: 13%;
 display: -webkit-inline-box;
 float: right;
}
.ordenar {
 padding-left: 20px;
 }
 select, option {
    background-color: transparent;
}
.titulo {
 text-align: center;
}
.login {
 margin-top: 10%;
}
legend {
 text-align: center;}.imagen {
     background-color: white;
     width: 20%;
     border-style: outset;
 }
 .pais {
     display: -webkit-inline-box;
     float: right;
     width: 13%;
 }
 .pepe{
     background-color: #dc001b;
 }
 .final {
     float: right;
     margin-top: 23%;
     margin-right: 20%;
 }
 .arroba {
     background-color: red;
 }
 .hhh {
     margin-left: 4%;
 }
 .acepto {
    font-size: 80%;
}
.check {
 margin-left: 10px;
}
.formularioD {
 background-color: #f8f9fa36;
 border-radius: 20px;
 width: 80%;
 margin: 0 auto;
 border-style: solid;
 border-color: #f8f9fa36;
 color: black;
 margin-top: 5%;
}
/**
* CSS PARA INICIO Y PERFIL REALIZADO POR JOSE MANUEL TERRERO
*/
ul li{
 list-style: none;
}
a:visited, a:active, a:link, a:hover{
 text-decoration: none;
}
.lista{
 margin: 0 auto;
}
.perfil{
 border: 2px solid black;
 width: 80%;
 margin: 2%;
 margin-left: 10%;
}
.contenido{
 height: 490px;
}
.columna{
 margin-left: 5%;
 width: 45%;
 float: left;
}
.inside{
 margin: 3px;
}
#nombre, #username, #fecha, #telefono, #apellidos, #password, #correo, #centro, #edit {
    margin: 3px;
    border: 2px solid black;
}
input:focus{
 outline: 0px;
}
#edit, #borrarReserva{
 width: 100%;
}
#volver{
 width: 5%;
}